
.main{
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: #fff9f4;
  padding: 5px;
  row-gap: 15px;

}


header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color:#ca5f98;
}
#from{
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;

}
#to{
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  
}
#calender{
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}
.booking{
 
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 10px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  
}
.ticket{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}

.form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  justify-content: center;

}


select{
  height: 42px;
  width: 220px;
  font-size: 17px;
  border-radius: 12px;
  border: none;
  outline: none;
}

input{
  height: 40px;
  width: 220px;
  border: none;
  outline: none;
  font-size: 17px;
  border-radius: 12px;
  padding-left: 10px;
 
}
.input{
  display: flex;
  flex-direction: column;
  background-color: #ca5f982b;
  box-shadow: 0 0 7px black;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  flex-wrap: wrap;
  align-items:baseline;
  padding: 10px 30px;
  border-radius: 10px;
}

button{
  height: 48px;
  width: 200px;
  font-size: 20px;
  font-weight: 700;
  background-color: #ca5f98;
  color:rgb(237, 237, 216);
  border: none;
  box-shadow: 3px 3px 6px black;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
}
